/* GENERAL */
body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

main{
  padding: 10px;
}
footer{
  padding: 10px;
  font-size: 25px;
}

/* header */
#sfondo{
  height: 150px;
  background-color: rgb(78, 160, 255);
}
#sfondo img{
  height: 150px;
}
#logo{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
}

#titolo{
  padding: 10px;
}

#titolo h1{
  margin: 0;
  font-size: 50px;

}

#titolo h2{
  color: rgb(156, 156, 156);
  margin: 0;
}

#titolo span{
  color: rgb(116, 200, 238);
}

#titolo h3{
  color: rgb(156, 156, 156);
  margin: 0;
}


/* main */
.main{
  font-size: 25px;
}
.main span{
  background-color: rgb(233, 233, 0);
}
#lista{
  padding: 25px;
}

table, th, td{
  margin: 0;
  text-align: left;
}

thead{
  background-color: rgb(32, 169, 229);
  color: white;
}

.sfondo-tr{
  background-color: rgb(177, 229, 242);
}
th, td{
  width: 1000px;
}

/* footer */
#pfooter{
  color: rgb(131, 131, 131);
}
#span1{
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 180px;
  right: 300px;
}
#span2{
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 180px;
  right: 300px;
}